/* Based on catpuccin frappé */
:root {
  --base: #303446;
  --surface: #414559;
  --overlay: #838ba7;
  --text: #c6d0f5;
  --highlight: #babbf1;
  --highlight-2: #a6d189;
  --warn: #e78284;
  --clickable: #8caaee;
  --font: Arial, Helvetica, sans-serif;
  --node: #ef9f76;
  --node-border: #babbf1;
  /* Code highlighting colors: */
  --keyword: #e78284;
  --string: var(--text);
  --ident: #a6d189;
  --comment: #626880;
  --type: #ca9ee6;
}

body {
  background-color: var(--base);
}

a {
  color: var(--highlight-2);
}

/* code { */
/*   color: var(--highlight-2); */
/* } */

#org-preview-wrapper {
  background-color: var(--surface);
  font-family: var(--font);
}

#org-preview-dragging-area {
  background-color: var(--clickable);
}

#org-preview {
  color: var(--text);
}

#org-preview-title {
  color: var(--highlight);
  text-align: center;
}

#org-preview-footer {
  background-color: var(--base);
  border-radius: 5px;
  padding: 5px;
}

.org-preview-footer-element {
  cursor: pointer;
  margin-bottom: 5px;
}

h1, h2, h3, h4 {
  color: var(--highlight-2);
}

hr {
  color: var(--highlight);
}

.center {
  text-align: center;
}

#search-wrapper {
  font-family: var(--font);
  background-color: var(--overlay);
  border-radius: 5px;
  top: -100px;
  transition: top 0.3s ease-in-out;
}

#search-input {
  border: 3px solid var(--highlight);
  border-radius: 5px;
  background-color: var(--surface);
  color: var(--text);
  padding: 5px;
}

#search-suggestion-wrapper {
  background-color: var(--surface);
  color: var(--text);
}

.suggestion {
  background-color: var(--base);
}

.suggestion:hover {
  background-color: var(--surface);
}

/* This is a bit hacky. */
.katex-html {
  display: none;
  visibility: hidden;
}

pre:has(.hljs) {
  background-color: var(--base);
  padding: 5px;
  border-radius: 5px;
  overflow: hidden;
}

.hljs-keyword {
  color: var(--keyword) !important;
}

.hljs-string {
  color: var(--string) !important;
}

.hljs-section,
.hljs-selector-class,
.hljs-template-variable,
.hljs-deletion {
  color: #800 !important;
}
.hljs-variable {
  color: var(--ident) !important;
}

.hljs-title {
  color: var(--ident) !important;
}

.hljs-comment {
  color: var(--comment) !important;
}

.hljs-type {
  color: var(--type);
}

.src {
  background-color: var(--base) !important;
  padding: 5px;
  border-radius: 5px;
}

td {
  padding: 5px;
  border: 1px solid var(--highlight);
}

table {
  border-collapse: collapse;
}

/* this might be broken for some svgs. */
svg {
  fill: var(--text);
}
