.hljs-string,
.hljs-section,
.hljs-selector-class,
.hljs-template-variable,
.hljs-deletion {
  color: #800;
}
.hljs-variable {
  color: green;
}
.src {
  background-color: white;
  padding: 5px;
  border-radius: 5px;
}
